<html>
<head><title>
    Student Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="Student%201.css">
    </head>
    <body>
    <div class="menu">
    <div class="menu1">
        <a href="#">Dashboard</a>
    </div>
    <div class="menu2">
        <a href="/">Logout</a>
    </div>
    </div>
        <div class="welcome"> <h1>Welcome <%= username %></h1></div>
        <div class="container">
            <div class="card">
                 <div class="box">
                <div class="content"> 
                    <h2>Take Test</h2>
                    <img src="taketest.png">
                     <a href="test_login.html"class="testbtn" >Take Test</a>
                  </div>
                </div>
               </div>
            <div class="card">
                 <div class="box">
                 <div class="content"> 
                    <h2>View results</h2>
                    <img src="viewresults.png">
                     <a href="/results"class="resultbtn" >Results</a>
                  </div>
               </div>
        </div>
        </div>
        
    </body>
</html>