<html>
<head><title>
    Teacher Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="Teacher.css">
    </head>
    <body>
    <div class="menu">
    <div class="menu1">
        <a href="/Teacher.html">Dashboard</a>
    </div>
    <div class="menu2">
        <a href="#">Logout</a>
    </div>
    </div>
        <div class="welcome"> <h1>Welcome <%= username %></h1></div>
        <div class="container">
            <div class="card">
                 <div class="box">
                <div class="content">
                    <h2>CREATE TEST</h2>
                    <img src="createtest.png">
                     <a href="createtest.html" class="testbtn" >Create Test</a>
                  </div>
                </div>
               </div>
            <div class="card">
                 <div class="box">
                 <div class="content">
                     <h2>VIEW RESULTS</h2>
                    <img src="viewresults.png">
                     <a href="teacherresults.html" class="resultbtn" >View Results</a>
                  </div>
               </div>
        
        </div>
        </div>
        
    </body>
</html>